.citation_display .csl-left-margin
{
  display: none;
}

.citation_display [aria-hidden="true"]
{
  display: none;
}

.citation_display .citation_formats
{
  margin-top: 1em;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 2px;
}

.citation_display .citation_formats_button
{
  position: relative;
  background: transparent;
  border: none;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  box-shadow: none;
  padding: 0 1em;
  width: 100%;
  min-height: 2.5em;
  text-align: left;
}

.citation_display .citation_formats_button:after
{
  display: inline-block;
  font: normal normal normal 14px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  content: "\f0d7";
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translate(0, -50%);
}
.citation_display .citation_formats_button[aria-expanded="true"]:after
{
  content: "\f0d8";
}

.citation_display .citation_formats_button:focus
{
  outline: 0;
}

.citation_display .citation_formats_styles
{
  margin: 0;
  padding: 0;
  list-style: none;
}

.citation_display .citation_formats_styles a
{
  display: block;
  padding: 0.5em 1em;
  border-bottom: 1px solid #bbb;
  text-decoration: none;
  font-size: 0.75rem;
}

.citation_display .citation_formats_styles a:focus
{
  outline: 0;
}

.citation_display .citation_formats_styles li:last-child a
{
  border-bottom: none;
}

.citation_display .citation_formats_list .label
{
  padding: 1em 1em 0.25em 1em;
}

.citation_display .citation_formats_styles + .label
{
  border-top: 1px solid #bbb;
}

.citation_display span
{
  margin-right: 0.5em;
}
